

.hero1 {
    background-image: url(/images/Guac.png);
    background-size: cover;
    height: 700px;
    align-items: flex-end;
    background-repeat: no-repeat;
    max-width: 100%;
    width: 100vw;
}

.hero1 img {
    height: auto;
}

.hero1 h1 {
    padding: 0px;
    margin: 0px;
}

.hero1 h2 {
    padding: 0px;
    margin: 0px;
}

.hero2 {
    background-image: url(/images/Eggs.png);
    background-size: cover;
    height: 700px;
    background-repeat: no-repeat;

}

.hero2 h1 {
    color: #F4489A;
}

.hero3 {
    background-image: url(/images/Pizza.png);
    background-size: cover;
    height: 700px;
    background-repeat: no-repeat;

}

.hero3 h1 {
    color: #009CC9
}

.hero4 {
    background-image: url(/images/MamaBG.png);
    background-size: cover;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
}

.hero4 h1 {
    color: #F4489A;
}

.nav-pills {
    border-radius: 50px;
}


button {
    font-family: 'Bungee', 'Impact', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    background-color: #F4489A;
    color: white;
    font-size: 20px;
}

button:hover {
    font-size: 25px;
    background-color: #F4489A;
}



.form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }

  footer {
    color:white;
  }
  
  @media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }
  
