

.hero1 {
    background-image: url(/images/Guac.png);
    background-size: 100%;
    height: 600px;
}

.hero2 {
    background-image: url(/images/Eggs.png);
    background-size: 100%;
    height: 600px;
}

.hero3 {
    background-image: url(/images/Pizza.png);
    background-size: 100%;
    height: 600px;
}

.hero4 {
    background-image: url(/images/MamaBG.png);
    background-size: 100%;
    height: 600px;
    background-repeat: no-repeat;
}


button {
    font-family: 'Bungee', 'Impact', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    background-color: #F4489A;
    color: white;
    font-size: 20px;
}

button:hover {
    font-size: 25px;
    background-color: #F4489A;
}



.form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }
  
  @media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }
  